/* Your CSS here. */
div.wrapper {
    display: block;
    justify-content: center;
}

div.cardBackground {
    display:block;
    background-color: green;
    text-align: center;
    align-content: center;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

img.profileImage {
    width: 150px;
    height: 150px;
}

div.name {
    padding-top: 0.6em;
    font-size:xx-large;
}

div.email {
    padding-top: 1em;
    font-style: italic;
}

div.link {
    padding-top: 1em;
}

div.bio {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}
